meta.foundation-version {
    font-family: "/5.3.2/";
}

meta.foundation-mq-small {
    font-family: "/onlyscreen/";
    width: 0em;
}

@-webkit-keyframesrotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
} @-moz-keyframesrotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
} @-o-keyframesrotate {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
} @keyframesrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} @mediaprint {
@page {
margin:0.5cm;
}
}